<h3 style="color:red">Warning !</h3>

You are attempting to run PSFj using <b>32-bit version of Java</b>.
 This limits the available amount of memory to 
 <b>%max_memory% MB of memory</b> even if your system has more memory available.
 In case large bead image stacks are used, this can cause a crash of the software.
 <br><br>
 To use PSFj with more memory capacity,
 <b>please run PSFj on a 64-bit OS with a 64-bit Java Runtime installed</b>.<br>
 
 <br>So, if your OS is 64-bit, <b>
 please reinstall a 64-bit</b>
 version of Java.